<div class="jumbotron quiz-container">

  <div *ngIf="isWelcomePage()">
    <h1>Welcome to the Angular Quiz App</h1>
    <button       (click)='this.model.nextPage()'  class="start-button btn btn-outline-primary">Start the Quiz</button>
  </div>

  <div *ngIf="isQuestionPage() ">
    <p>{{getCurrentItem().question}}</p>
    <div *ngFor="let ch of getChoices()">
      <div class="form-check m-1">
      <label class="form-check-label radio m-1" for=" label{{ch}}">
        <input type="radio" class="form-check-input" name="optradio" value="{{ch}}" [(ngModel)]="getCurrentItem().answer" >  {{ch}}
      </label>
      </div>

    </div>

    <button class="btn btn-outline-secondary m-1"  (click)='prevPage()'>PrevPage</button>
    <button class="btn btn-outline-primary m-1"  (click)='nextPage()'>NextPage</button>
  </div>

  <div *ngIf="isResultsPage()">
    <h4>Congratulations! You completed the test with {{ getScore() }} points.</h4>

    <p>Would you like to play again?</p>
    <button class="btn btn-outline-primary m-1"  (click)='playAgain()'>Play Again</button>
  </div>

</div>


