
<div class="quiz-container">

  <div [ngSwitch]="this.model.page">

    <div *ngSwitchCase="0">
      <h1>Welcome to the Angular Quiz App</h1>
      <button       (click)='this.model.nextPage()'  class="start-button">Start the Quiz</button>
    </div>

    <div *ngSwitchDefault>
      <p>Question 1: Which is the largest country in the world by population</p>

      <div *ngFor="let ch of getChoices()">
        <label for=" label{{ch}}">
          <input type="radio" name="optradio" value="{{ch}}" [(ngModel)]="getCurrentItem().answer" >  {{ch}}
        </label>
      </div>

      <button (click)='prevPage()'>PrevPage</button>
      <button (click)='nextPage()'>NextPage</button>


      <!-- <input type="radio" id="india" name="country" value="india"> -->
      <!-- <label for="india">India</label><br> -->

      <!-- <input type="radio" id="usa" name="country" value="usa"> -->
      <!-- <label for="usa">USA</label><br> -->

      <!-- <input type="radio" id="china" name="country" value="china"> -->
      <!-- <label for="china">China</label><br> -->

      <!-- <input type="radio" id="russia" name="country" value="russia"> -->
      <!-- <label for="russia">Russia</label><br> -->

    </div>
  </div>

</div>


